html,
body,
#root,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  background-color: white;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.shopList {
  width: 50%;
  padding-top: 4rem;
  border-right: 1px solid gray;
}

.shop {
  display: flex;
  width: 100%;
  height: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  gap: 1rem;

}

.shopInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-color: #ebebeb;
}

.reviewForm {
  display: flex;
  border-color: #ebebeb;
  position: fixed;
  margin-top: 100px;
  
  
}
.loginDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer{
  margin-top: 100px;
}
.formContainer input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
} 
.logo {
  text-align: center;
  margin-top: 100px;
}
.logoDiv{
  display: flex;
}
.coffeeLogo{
  margin-top:40px;
}
.button {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
}
.text {
  text-align: center;
}