html,
body,
#root,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  background-color: white;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  cursor: pointer;
}

a {
  font-size: 0.75rem;
}

.App {
  height: 100%;
}

.logoContainer,
.logoContainer a,
.logoContainer a:visited,
.logoContainer p {
  display: flex;
  align-items: center;
  font-size: 1.55rem;
  text-decoration: none;
  color: black;
  font-family: "Cherry Bomb One";
}

.navBarLogo {
  width: 3rem;
  height: 3rem;
}

.logoutButton {
  padding: .75rem 1rem .75rem 1rem;
  border-radius: 8px;
  background-color: #0276FF;
  width: 45%;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  color: white;
  transition: background .13s ease-in-out;
  max-width: 6rem;
}

.logoutButton:hover {
  background-color: #1C84FF;
}

.shopList {
  height: 100%;
  width: 50%;
  padding-top: 6rem;
  border-right: 1px solid lightgray;
}

.shop {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  gap: 1rem;
  border-bottom: 1px solid lightgray;
}

.shop img {
  width: 10vw;
  height: 10vw;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 6px;
  object-fit: cover;
}

.shopInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  max-height: 11rem;
  justify-content: start;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-color: #ebebeb;
}

.shopInfo h1 {
  font-size: 1.5rem;
  color: #232323;
}
.shopInfo p {
  margin-top: .25rem;
}

.reviewButtonsContainer {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.addReviewsButton {
  padding: .75rem 1rem .75rem 1rem;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-weight: 500;
  margin-left: .5rem;
  border: 1px solid lightgray;
  transition: background .13s ease-in-out;
}

.addReviewsButton:hover {
  background-color: #ddd;
}

.link {
  width: 45%;
}

.seeReviewsButton {
  padding: .75rem 1rem .75rem 1rem;
  border-radius: 8px;
  background-color: #0276FF;
  width: 45%;
  font-weight: 500;
  border: none;
  color: white;
  transition: background .13s ease-in-out;
}

.seeReviewsButton:hover {
  background-color: #1C84FF;
}

.editButton {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: .25rem;
  margin-left: auto;
  margin-right: .5rem;
  align-self: center;
}

.deleteButton {
  background-color: #D73E3E;
  border-radius: 8px;
  padding: .25rem;
  border: none;
  max-width: 3rem;
  max-height: 3rem;
  align-self: center;
}

.reviewList {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem 3rem 1rem 3rem;
  background-color: #ECECEC;
  width: 100%;
}

.review {
  display: flex;
  width: 100%;
}

.reviewContainer h2 {
  margin-bottom: .25rem;
}

.commenter {
  margin-bottom: .5rem;
}

.noReviewContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: .75rem;
}

.reviewForm {
  display: flex;
  border-color: #ebebeb;
  position: fixed;
  margin-top: 100px;
   
}

.loginDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer{
  margin-top: 100px;
}

.formContainer input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
} 

.logo {
  text-align: center;
  margin-top: 100px;
}

.logoDiv{
  display: flex;
}

.coffeeLogo{
  margin-top:40px;
}

.text {
  text-align: center;
}

.reviewFormContainer input {
  display:flex;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
} 

.reviewFormContainer {
  position: absolute;
  margin-top: 200px;

}